<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update a User</title>
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/create">Create Users</a>
  </div>

  <div class="form-add-new">
    <form action="/update-user" method="post">
      <fieldset>
        <legend>Update a user</legend>
        <div class="input-group" hidden>
          <label for="">Id: </label>
          <input value="<%=user.id %>" type="text" name="id" id="">
        </div>
        <div class="input-group">
          <label for="">Email: </label>
          <input value="<%=user.email %>" type="text" name="email" id="">
        </div>
        <div class="input-group">
          <label for="">Name: </label>
          <input value="<%=user.name %>" type="text" name="name" id="">
        </div>
        <div class="input-group">
          <label for="">City: </label>
          <input value="<%=user.city %>" type="text" name="city" id="">
        </div>
        <div>
          <button>Save</button>
        </div>

      </fieldset>
    </form>
  </div>

</body>

</html>